services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - bigdata-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - bigdata-network
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092" ]
      interval: 10s
      timeout: 10s
      retries: 5

  jupyter:
    build:
      context: ./jupyter
      dockerfile: Dockerfile
    container_name: jupyter
    ports:
      - "8888:8888"
    volumes:
      - ./jupyter:/home/jovyan/work
      - ./data:/home/jovyan/data
    environment:
      JUPYTER_ENABLE_LAB: "yes"
      KAFKA_BROKER: ${KAFKA_BROKER}
      KAFKA_TOPIC: ${KAFKA_TOPIC}
      WEATHER_API_URL: ${WEATHER_API_URL}
      WEATHER_LATITUDE: ${WEATHER_LATITUDE}
      WEATHER_LONGITUDE: ${WEATHER_LONGITUDE}
      FETCH_INTERVAL: ${FETCH_INTERVAL}
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - bigdata-network
    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''

  spark-master:
    build:
      context: ./spark
      dockerfile: Dockerfile
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      SPARK_MODE: master
    networks:
      - bigdata-network
    command: /opt/spark/sbin/start-master-wrapper.sh

  spark-worker:
    build:
      context: ./spark
      dockerfile: Dockerfile
    container_name: spark-worker
    depends_on:
      - spark-master
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
    networks:
      - bigdata-network
    command: /opt/spark/sbin/start-worker-wrapper.sh

  spark-submit:
    build:
      context: ./spark
      dockerfile: Dockerfile
    container_name: spark-submit
    ports:
      - "4040:4040"
    volumes:
      - ./spark:/app
      - ./data:/data
    environment:
      KAFKA_BROKER: ${KAFKA_BROKER}
      KAFKA_TOPIC: ${KAFKA_TOPIC}
      SPARK_MASTER: "spark://spark-master:7077"
      HDFS_NAMENODE: "hdfs-namenode:9000"
    depends_on:
      - spark-master
      - spark-worker
      - kafka
      - hdfs-namenode
    networks:
      - bigdata-network
    command: tail -f /dev/null

  hdfs-namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hdfs-namenode
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./hdfs/namenode:/hadoop/dfs/name
    environment:
      CLUSTER_NAME: bigdata
      CORE_CONF_fs_defaultFS: hdfs://hdfs-namenode:9000
    networks:
      - bigdata-network

  hdfs-datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hdfs-datanode
    depends_on:
      - hdfs-namenode
    volumes:
      - ./hdfs/datanode:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "hdfs-namenode:9870"
      CORE_CONF_fs_defaultFS: hdfs://hdfs-namenode:9000
    networks:
      - bigdata-network

networks:
  bigdata-network:
    driver: bridge
